obj
bin
.vs
.DS_Store
packages/**
/**/*.csproj.user
/**/*.nupkg

.idea
**/__pycache__
**/packages/**
**/logs/**
**/taget/**
**/dbt_packages/**
**/API-Pipeline_last_run/**
**/*.env
**/*.sh

**/api_documentation*.md
**/api_*health_report.md
**/.user.yml

**/.venv
**/.vscode
**/*.user.yml
**/*.user.json

.venv
user.config.json
ZendeskIntegration/csv/*
ZendeskIntegration/log/*
ZendeskIntegration/download/*
ZendeskIntegration/test/*
ZendeskIntegration/paramFiles/*
